# Basic libraries
absl-py==0.11.0
ml-collections==0.1.0
ninja==1.10.2

# TensorFlow and related libraries
tensorflow==2.4.0
tensorflow-addons==0.12.1
tensorflow-datasets==3.2.1
tensorflow-gan==2.0.0
tensorflow-probability==0.12.0

# PyTorch and related libraries
torch==1.7.1
torchvision==0.8.2

# Data analysis and visualization
seaborn==0.11.1
pandas==1.2.1

